.header {
    padding: 20px 0;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 24px;
}

@media (max-width: 1279px) {
    .wrapper {
        padding: 0 24px;
    }
}

.header__wrapper {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}